openai>=1.0.0
python-dotenv
pytest
pytest-asyncio
pytest-mock
requests
ruff
tenacity
langchain-core>=0.1.0
langchain-community>=0.0.25
langchain>=0.1.0
langchain-openai>=0.0.5
gradio
wikipedia
boto3>=1.37.0
opensearch-py
botocore>=1.37.0
awscli>=1.32.51
retrying
ragas
ipywidgets
iprogress
langchain_aws==0.2.18
s3fs
pypdf
tqdm
pandas
datasets
